div.tab-pane-workarea{
    min-height: 380px;
}
.panel-body-horizontal canvas{
    border: 3px solid #BCBCBC;
    height: 100px;
    width: 200px;
    float: left;
    margin-right: 4px;
}
#myModal button.close span{
    display: none;
}
.modal-dialog .panel-body-main-vertical img {
    width: 100%;
}

.modal-dialog .panel-body-main-vertical label{
}
.modal-dialog .panel-collapse .panel-body {
    overflow-y: scroll;
}
.styles-preview-select {
    float: left;
    width: 49%;
    margin-right: 1%;
}
.styles-group{
    display: table-cell;
    padding: 2px;
}
.styles-group.has-error{
    border: 1px solid #a94442;
    border-radius: 5px;
}
.styles-group .form-group{
    display: table-cell;
}
a.selector-item{
    width: 33% !important;
    float: left;
}

#myModal a.selector-item img {
    width: 100% !important;
}
#myModal a.selector-item {
    width: 50% !important;
    float: left;
}
#myModal .panel-body.panel-body-main-vertical{
    height: 410px;
}
canvas.selected{
    border: 5px solid;
    border-color: cornflowerblue;
}
.eliminar-canvas {

    border-radius: 15px;
    border: none;
    background-color: tomato;
    color: white;
}
.books-created {
    display: inline-block;
    width: 226px;
    border: 1px solid #bcbcbc;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.books-created img {
    width: 213px;
    margin-bottom: 5px;
}
.books-created a{
    display: inline-block;
    margin-right: 3px;
    margin-left: 2px;
}
.home-book-title {
    text-align: center;
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}
.btn-home{
    float:right;
}

img.cropit-preview-image{

}

.image-editor-wapper-left .form-group-textarea {
    width: 400px;
    height: 400px;
    margin-top: 0px;
    position: absolute;
    left: 31px;
    /*float:left;*/
}
.image-editor-wapper-left .form-group-textarea textarea{
    height: 400px;
    width: 400px;
}
.image-editor-wapper-left .cropit-preview.cropit-image-loading{
    /*float:left;*/
    position: absolute;
    left: 399px;
}
.image-editor-wapper-left .cropit-preview-image-container{
    /*float:left;
    position:relative;*/
    left: 399px;
}
.image-editor-wapper-left .cropit-preview.cropit-image-loaded{
    left: 399px;
}
.text-vertical-middle-allign{
    display: table;
    height: 400px;
    width: 400px;
    text-align: center;
    border: 1px solid #CCCCCC;
    padding: 15px;
}
