.panel-collapse .panel-body{
    height: 41vh;
}
.select-theme-panel .panel-body-main, .work-panel .panel-body-main{
    height: 58vh;
    margin: 3px;
}

.select-theme-panel .panel-body-main{

}

.select-theme-panel .panel-body-main .panel-collapse{
    overflow-y: scroll;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    overflow-x: hidden;
}

.select-theme-panel .panel-body-main img{
    width: 100%;
    padding: 5px;
}

.pages-preview-panel .panel-body-main{
    height: 18vh;
    overflow-x: scroll;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 3px;
    overflow-y: hidden;
}

.pages-preview-panel .panel-body-main img{
    height: 100%;
}
.pages-preview-panel{
    margin-bottom: 0px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.49);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.33);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(38, 0, 0, 0.4);
}
/* Scroll Horizontal para el page preview*/
.pages-preview-panel .panel-body{
    white-space: nowrap;
}
.pages-preview-panel .panel-body img{
    display: inline-block;
}
.panel-body-main-vertical label{
    width: 100%;
    text-align: center;
}
.panel-body-horizontal div{

}
.panel-body-horizontal div label{
    text-align: center;
    display: table;
    width: 100%;
    font-size: 13px;
    line-height: 12px;
}
.tab-content {
    height: 59%;
    padding: 15px;
}
.pages-preview-panel div div{
    /*width: 150px;*/
}

