.work-panel{
    font-family: 'Baloo', cursive;
}
.work-panel .title-cover {
    font-family: 'Baloo', cursive;
    position: absolute;
    z-index: 11;
    width: 750px;
    top: 60px;
    text-align: center;
    opacity: 1;
    left: 55px;
    color: green;
}
#image-preview {
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}
#image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}
#image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 280px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
input[type=text] {
    color: red;
}
.viewer-panel{

}